
/* header */
.main-header-padding {
    height: 60px;
  }
  .main-header {
    height: 60px;
    background: transparent;
    background-color: #101010;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: 400ms;
  }
  .main-header-bg {
    background-color: #101010;
  }
  .main-header .logo,
  .main-header .sign-up {
    width: 250px;
  }
  .logo {
    font-size: 20px;
  }
  .logo img {
    height: 45px;
  }
  .main-header .sign-up a:nth-child(2) {
    margin-left: 10px;
  }
  .main-header .navigation {
    height: 100%;
  }
  .main-header .navigation a {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
  
  
  .main-header .navigation a:hover {
    border-bottom: 3px solid rgb(238, 104, 51);
    color:rgb(238, 104, 51);
    transition: 300ms;
  }
  a {
    border-bottom: none;
    color:rgba(233, 233, 233);
  }
  
  .active {
    border-bottom: 3px solid rgb(238, 104, 51);
    color:rgb(238, 104, 51);
  }
  #signin-btn {
    position: relative;
  }
  #signin-dialog {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 10;
    background: rgba(233, 233, 233);
    border-radius: 10px;
    color: #000;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
  }
  #signin-dialog p {
    font-size: 16px;
  }
  #signin-dialog > div {
    padding: 15px 30px;
  }