.plans {
    padding: 20px 100px;
}
.plans h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-bottom: 20px;
    color: #303030;
}
.plan-row {
    display: flex;
    justify-content: center;
}
.plan-card {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    width: 400px;
    margin: 0px 10px;
    margin-bottom: 40px;
    color: #3a3a3a;
    line-height: 1.6;
    position: relative;
    border-radius: 20px;
    background: white;
}
.plan-card > div:hover {
    background: rgb(8, 156, 255, 0.1);
}
.plan-card > div {
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.1);
    position: relative;
    background: linear-gradient(-20deg,#a8edea,#fbfcdb);
    flex: 1;
    padding: 30px;
    padding-bottom: 50px;
    border-radius: 20px;
    overflow: hidden;
}
.plan-card .plan-name {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: white;
    padding: 13px 27px;
    border-radius: 25px;
    bottom: -20px;
    box-shadow: 0px 0px 7px 0px rgb(8, 156, 255, 0.6);
    background: rgb(8, 156, 255, 0.8);
    color: white;
    z-index: 10;
}
.plan-card .plan-name:hover {
    background: rgb(8, 156, 255, 0.8);
}
.plan-card .plan-name:hover ~ div {
    background: rgb(8, 156, 255, 0.1);
}
.plan-card .plan-charge {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;
    align-items: center;
    color: rgb(24, 170, 203);
}
.plan-card .plan-duration {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(238, 104, 51);
    margin-bottom: 10px;
}
.plan-card .plan-includes {
    font-size: 14px;
}
.plan-card li {
    list-style: none;
}
.available {
    color: rgba(24, 155, 35, 0.7);
}
.not-available {
    color: rgb(253, 66, 66, 0.7);
}
.plan-items > div {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-rupee-sign {
    position: absolute;
    left: 60%;
    top: 40%;
    font-size: 200px;
    transition: translate(-50%, -50%);
    color: rgb(8, 156, 255, 0.15);
}
.plan-card .bubble-tl {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: rgb(250, 46, 124, 0.4);
    border-radius: 50%;
}
.plan-card .bubble-tr {
    position: absolute;
    right: 30px;
    top: 0px;
    width: 100px;
    height: 100px;
    background: rgb(24, 170, 203, 0.3);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plan-card .bubble-tr span {
    text-align: center;
    color: #3a3a3a;
    font-weight: bold;
    margin-bottom: 20px;
}