.signup-cover {
    background-image: url('../../../public/images/main-cover.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.signup-cover form {
    width: 600px;
}
#email-verified {
    display: none;
}